@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&family=Urbanist:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;

}

.navbar-container {
  /* background-color: #eb4034; */
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-name {
  font-size: 30px;
  flex: 1;
}

.left-navbar {
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.left-navbar a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.left-navbar a:hover {
  color: black;
}

/* About me section*/

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.aboutme-img{
  padding: 50px;
  margin-right: 50px;
}

.aboutme-info{
  display: flex;
  flex-direction: column;
  width: 600px;
  flex-wrap: wrap;

}

.about p {
  font-size: 30px;
}




/* 
.about h1 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 5px;
} */

.hobbies {
  font-size: 17px;
  padding: 20px;
}

.hobbies h1 {
  display: flex;
  justify-content: center;
}

.hobbies p {
  font-size: 30px;
}

.personal-links {
  padding: 20px;
  margin: 0;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.personal-links a {
  padding: 5px;
}

#personal-link-header {
  padding-bottom: 10px;
}

#piazza,
#github,
#linkedin,
#twitter {
  text-decoration: none;
  width: 50px;
  height: 70px;
  padding: 5px;
  margin: 10px;
}

.lists-style {
  padding: 10px;
  color: black;
}
.lists-style li {
  padding: 5px;
  list-style: none;
}

.fav-quote {
  color: black;
  padding: 10px;
}


#quote p {
  font-size: 25px;
  padding: 30px;
}

.image-section-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.image-section img {
  padding: 20px;
}
.image-section h1 {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px;
  background-color: #eb4034;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5%;
}

button:hover {
  color: black;
}

.table-style {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-color: white;
}

.table-style td,
tr,
th {
  padding: 10px;
  background: rgb(115, 218, 236);
}

#cls-sch {
  display: flex;
  justify-content: center;
  padding: 5px;
}

footer {
  background-color: rgb(160, 224, 240);
  padding: 5px;
  color: white;
}
